body{ 
  margin: 0px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  color: #444;
}

#controls {
  border-top: 1px solid #cacaca;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-button,
.highlight-button#inner > .highlighted{
  display: flex;
}

.highlight-button {
  font-size: 1.8rem;
  margin: 10px;
  cursor: pointer;
}

.highlight-button:first-child {
  margin-top: 20px;
}

.highlighted {
  border-radius: 5px;
}

.ellipsis {
  letter-spacing: -10px;
  margin-left: 0px;
  margin-right: 9px;
}

#colorPicker {
  display: inherit;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}

#changeColor {
  height: 25px;
  width: 25px;
  outline: none;
}

#label {
  margin-top: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 20px 30px;;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e2e2e2;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0px 1px 3px #848484;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: -2px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 1px 3px #4c4c4c;
}

input:checked + .slider {
  background-color: #e2e2e2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sp-replacer {
  border: none !important;
  background: none !important;
}

.sp-preview {
  width: 21px !important;
  height: 20px !important;
  margin-right: 0px !important;
  border: solid 1px #e2e2e2 !important;
}

.sp-dd {
  display: none;
}

.sp-container {
  top: 0px !important;
  left: 0px !important;
  font: inherit !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  background-color: #ffffff00 !important;
}

.sp-picker-container {
  padding: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  border-left: none !important;
  height: 268px;
}

.sp-button-container {
  float: none !important;
  padding-top: 24px !important;
  padding-bottom: 7px !important;
  background-color: #eaeaea;
}

.sp-container button {
  background-image: none !important;
  border: none !important;
  border-bottom: none !important;
  font-size: inherit !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-weight: bold !important;
}

.sp-input-container {
  position: absolute !important;
  top: 228px !important;
  width: 64px !important;
  left: 24px !important;
  background-color: white !important;
}

.sp-color {
  border: none !important;
}

.sp-hue {
    position: absolute;
    top: 95px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 45px !important;
    width: 20px !important;
    height: 109px !important;
    transform: rotate(-90deg);
}

.sp-input {
  font-weight: bold !important;
  font: inherit !important;
  border: 1px solid #cacaca !important;
}

.sp-dragger {
  background: #ffffff00 !important;
  box-shadow: 0px 0px 2px #404040 !important;
}

.sp-cancel {
  font-size: inherit !important;
  padding: 6px !important;
  margin-right: 6px !important;
}

.sp-container button:hover {
  background-color: inherit !important;
  text-decoration: underline; !important;
}

